$color-default-body: rgba(214, 214, 214, 0.911);

// Colors header
$color-header-menu: rgba(51, 50, 50, 0.616);
$color-header-menu-hover: rgba(255, 255, 255, 0.938);

// Colors text
$color-text-footer: rgba(51, 50, 50, 0.616);
$color-text-btn-login: rgba(150, 149, 149, 0.938);
$color-text-default: rgba(70, 69, 69, 0.856);

// Colors backgrounds
$color-background: #dfdee2f1;  
$color-background-navbar: #dfdee2f1;
$color-background-navbar-hover:rgba(109, 108, 108, 0.932);
$color-background-title-sidebar: rgba(51, 50, 50, 0.616);
$color-background-sidebar-hover: rgba(255, 255, 255, 0.938);