$color-default-body: rgba(214, 214, 214, 0.911);

// Colors header
$color-header-menu: rgba(51, 50, 50, 0.616);
$color-header-menu-hover: rgba(51, 50, 50, 0.911);

// Colors text
$color-text-title-sidebar: rgba(255, 255, 255, 0.938);
$color-text-sidebar: rgba(51, 50, 50, 0.616);
$color-text-sidebar-hover: rgba(51, 50, 50, 0.911);
$color-text-footer: rgba(51, 50, 50, 0.616);
$color-text-login: rgba(51, 50, 50, 0.616);
$color-text-btn-login: rgba(150, 149, 149, 0.938);
$color-text-alert: rgba(228, 22, 22, 0.788);
$color-text-default: rgba(70, 69, 69, 0.856);
$color-text-input-default: rgba(70, 69, 69, 0.747);
$color-text-btn-submit: rgba(150, 149, 149, 0.938);
$color-text-btn: rgb(46, 45, 45);

// Colors backgrounds
$color-background: #C4BCF8;  
$color-background-navbar: #C4BCF8;
$color-background-navbar-hover:rgba(221, 221, 221, 0.993);
$color-background-title-sidebar: rgba(51, 50, 50, 0.616);
$color-background-sidebar-hover: rgba(255, 255, 255, 0.938);
$color-background-btn-login: rgb(154, 223, 154);
$color-background-div-input: aliceblue;
$color-background-btn-submit: rgb(154, 223, 154);
$color-background-btn-delete: rgb(177, 87, 87);
$color-background-btn-list: rgb(154, 223, 154);
$color-background-btn-add: rgb(203, 212, 151);
$color-background-btn-update: rgb(108, 146, 216);