.topnav {
    background-color: $color-background-navbar;
    overflow: hidden;
    a {
        float: left;
        display: block;
        color: $color-header-menu;
        text-align: center;
        padding: 1.4rem 1.6rem;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: bold;
    }
    a:hover {
        background-color: $color-background-navbar-hover;
        color: $color-header-menu-hover;
        border-radius: .8rem;
    }
    .icon {
        display: none;
        .hamburger_icon {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}